.input {
    text-align: center;
}

.text-name-input {
    margin-top: 10vh;
}

#roomcode {
    margin-top: 30vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 50%;
}

#joinbuttondiv{
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#joinbutton {
    width: 25%;
}