<div class="col">
    <div class="row">
        <div class="container" id="qu">
            <div id="queDiv">{{question}}
            </div>

        </div>
    </div>
    <div class="row">
        <div class="container" style="margin-top: 3vh; object-fit: cover;" id="ansDiv">
            <div class="pop-up open">
                <!--class="pop-up open"-->
                <div class="content">
                    <div class="container">
                        <div class="dots">
                            <div class="dot"></div>
                            <div class="dot"></div>
                            <div class="dot"></div>
                        </div>

                        <div class="title">
                            <h1>Answer</h1>
                        </div>

                        <div class="subscribe">
                            <h1>Enter your most <span>outrageous</span> answer below.</h1>

                            <form>
                                <input type="email" placeholder="Your response">
                                <input type="submit" value="Done">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>