#header{
    margin: auto;
    text-align: center;
    font-weight: bold;
    font-size: 4em;
    color: #040a2c;
}

#listOfPlayers{
    margin-top: 10vh;
    text-align: center;
    list-style: none;
}

.playerItem{
    border-style: solid;
    border-width: 2px;
    background-color: #bebbbb;
    margin-top: 3vh;
    text-align: center;
    padding: 3px;
    font-weight: bold;
    font-size: 2em;
}

.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
}  

.flex-child:first-child {
    margin-right: 20px;
} 

.buttonClass {
    text-align: center;
    margin-top: 5vh;
}

.btn{
    padding: 2em;
    width: 25vw;
    font-weight: bold;
}

.progress {
    margin-top: 5vh;
}