<div class="container">
    <div id="header">Ready to play?</div>
    <ul id="listOfPlayers">
        <li *ngFor="let participant of allParticipants">
            <div class="flex-container playerItem">
                <div class="flex-child nameDiv">{{participant.participantName}}</div>
                <div class="flex-child scoreDiv">{{participant.score}}</div>
            </div>
        </li>
    </ul>
    <div *ngIf="!isReady">
        <div class="buttonClass">
            <button class="btn btn-primary" [disabled]="!isActive" type="submit" (click)="setReady()">I am
                Ready</button>
        </div>
    </div>
    <div *ngIf="isReady">
        <div class="progress">
            <div [style.width.%]="progressPercent"
                class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar"
                aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>

</div>